services/n8n/workflows/Database_Setup.json
{
  "name": "Database Setup",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Database Setup",
        "formDescription": "Run this once to setup the postgres db.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Document ID",
              "placeholder": "1mNGuGaT0V1Q0R1PyrCXZ9PV6ln1OraZBKLiaNfuIkF0",
              "requiredField": true
            },
            {
              "fieldLabel": "Sheet1 ID",
              "placeholder": "0",
              "requiredField": true
            },
            {
              "fieldLabel": "Sheet2 ID",
              "placeholder": "1235458535",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [0, -60],
      "id": "d8fc497b-9de3-4dbd-af0e-cb387f3d72f2",
      "name": "On form submission",
      "webhookId": "a40c463b-2ead-4fe1-a2e3-957339de78b8"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json['Document ID'] }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json['Sheet1 ID'] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [220, -160],
      "id": "1054f87e-b597-4ca9-9b82-efebab27ba34",
      "name": "Sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "80DFCtFuXtY7w6ff",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [500, -60],
      "id": "8f8808be-3adb-41da-bde5-2b03a983322d",
      "name": "Merge"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json['Document ID'] }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json['Sheet2 ID'] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [220, 40],
      "id": "784a3776-ce58-4781-89b4-ba72102b9a18",
      "name": "Sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "80DFCtFuXtY7w6ff",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://stack-iproact_nextjs:3000/api/setup",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    \"activity\": $items(\"Sheet1\").map((item) => {\n      return {\n        recent_activity:   item.json[\"Recent activity\"],\n        no_recent_activity: item.json[\"No recent activity\"]\n      }\n    }),\n    \"output\": $items(\"Sheet2\").map((item) => {\n      return {\n        ipa:   item.json[\"IPA\"],\n        placebo: item.json[\"Placebo\"]\n      }\n    }),\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, -60],
      "id": "7b30e20f-b906-450a-92ec-65359d494592",
      "name": "DB setup",
      "executeOnce": true
    }
  ],
  "pinData": {
    "On form submission": [
      {
        "json": {
          "Document ID": "1EkPD0AAB912iOVcqZhVTpfyoaHLT9_4-ZKlizY65tRc",
          "Sheet1 ID": "0",
          "Sheet2 ID": "1235458535",
          "submittedAt": "2025-06-01T07:37:16.053-04:00",
          "formMode": "test"
        }
      }
    ],
    "Sheet1": [
      {
        "json": {
          "row_number": 2,
          "Recent activity": "IPA",
          "No recent activity": "Placebo"
        }
      },
      {
        "json": {
          "row_number": 3,
          "Recent activity": "IPA",
          "No recent activity": "IPA"
        }
      },
      {
        "json": {
          "row_number": 4,
          "Recent activity": "Placebo",
          "No recent activity": "Placebo"
        }
      },
      {
        "json": {
          "row_number": 5,
          "Recent activity": "Placebo",
          "No recent activity": "IPA"
        }
      },
      {
        "json": {
          "row_number": 6,
          "Recent activity": "IPA",
          "No recent activity": "IPA"
        }
      },
      {
        "json": {
          "row_number": 7,
          "Recent activity": "Placebo",
          "No recent activity": "Placebo"
        }
      }
    ],
    "Merge": [
      {
        "json": {
          "row_number": 2,
          "Recent activity": "IPA",
          "No recent activity": "Placebo"
        }
      },
      {
        "json": {
          "row_number": 3,
          "Recent activity": "IPA",
          "No recent activity": "IPA"
        }
      },
      {
        "json": {
          "row_number": 4,
          "Recent activity": "Placebo",
          "No recent activity": "Placebo"
        }
      },
      {
        "json": {
          "row_number": 5,
          "Recent activity": "Placebo",
          "No recent activity": "IPA"
        }
      },
      {
        "json": {
          "row_number": 6,
          "Recent activity": "IPA",
          "No recent activity": "IPA"
        }
      },
      {
        "json": {
          "row_number": 7,
          "Recent activity": "Placebo",
          "No recent activity": "Placebo"
        }
      },
      {
        "json": {
          "row_number": 2,
          "IPA": 1,
          "Placebo": 2
        }
      },
      {
        "json": {
          "row_number": 3,
          "IPA": 3,
          "Placebo": 5
        }
      },
      {
        "json": {
          "row_number": 4,
          "IPA": 4,
          "Placebo": 6
        }
      },
      {
        "json": {
          "row_number": 5,
          "IPA": 8,
          "Placebo": 7
        }
      },
      {
        "json": {
          "row_number": 6,
          "IPA": 9,
          "Placebo": 10
        }
      },
      {
        "json": {
          "row_number": 7,
          "IPA": 11,
          "Placebo": 13
        }
      },
      {
        "json": {
          "row_number": 8,
          "IPA": 12,
          "Placebo": 14
        }
      }
    ],
    "Sheet2": [
      {
        "json": {
          "row_number": 2,
          "IPA": 1,
          "Placebo": 2
        }
      },
      {
        "json": {
          "row_number": 3,
          "IPA": 3,
          "Placebo": 5
        }
      },
      {
        "json": {
          "row_number": 4,
          "IPA": 4,
          "Placebo": 6
        }
      },
      {
        "json": {
          "row_number": 5,
          "IPA": 8,
          "Placebo": 7
        }
      },
      {
        "json": {
          "row_number": 6,
          "IPA": 9,
          "Placebo": 10
        }
      },
      {
        "json": {
          "row_number": 7,
          "IPA": 11,
          "Placebo": 13
        }
      },
      {
        "json": {
          "row_number": 8,
          "IPA": 12,
          "Placebo": 14
        }
      }
    ],
    "DB setup": [
      {
        "json": {
          "message": "setup completed successfully"
        }
      }
    ]
  },
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheet1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "DB setup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheet2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6b27921a-a28a-40a2-9488-3747c040ba01",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7cfd6155ade22475ca726e828b9372d104e1584f253d2cb105f11c79e03e219e"
  },
  "id": "e4kQ0Kd9aExPTpbn",
  "tags": []
}
