services/n8n/workflows/Database_Setup.json
{
  "name": "Database Setup",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Database Setup",
        "formDescription": "Run this once to setup the postgres db.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Document ID",
              "placeholder": "1mNGuGaT0V1Q0R1PyrCXZ9PV6ln1OraZBKLiaNfuIkF0",
              "requiredField": true
            },
            {
              "fieldLabel": "Sheet1 ID",
              "placeholder": "0",
              "requiredField": true
            },
            {
              "fieldLabel": "Sheet2 ID",
              "placeholder": "1235458535",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [0, -60],
      "id": "d8fc497b-9de3-4dbd-af0e-cb387f3d72f2",
      "name": "On form submission",
      "webhookId": "a40c463b-2ead-4fe1-a2e3-957339de78b8"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json['Document ID'] }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json['Sheet1 ID'] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [220, -160],
      "id": "1054f87e-b597-4ca9-9b82-efebab27ba34",
      "name": "Sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7LXW4DNaRZzd2HGN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [500, -60],
      "id": "8f8808be-3adb-41da-bde5-2b03a983322d",
      "name": "Merge"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json['Document ID'] }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json['Sheet2 ID'] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [220, 40],
      "id": "784a3776-ce58-4781-89b4-ba72102b9a18",
      "name": "Sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7LXW4DNaRZzd2HGN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://stack-iproact_nextjs:3000/api/setup",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    \"activity\": $items(\"Sheet1\").map((item) => {\n      return {\n        recent_activity:   item.json[\"Recent activity\"],\n        no_recent_activity: item.json[\"No recent activity\"]\n      }\n    }),\n    \"output\": $items(\"Sheet2\").map((item) => {\n      return {\n        ipa:   item.json[\"IPA\"],\n        placebo: item.json[\"Placebo\"]\n      }\n    }),\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, -60],
      "id": "7b30e20f-b906-450a-92ec-65359d494592",
      "name": "DB setup",
      "executeOnce": true
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheet1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "DB setup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheet2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "99326c55-e5b3-43fc-8b0c-bf619420a594",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "75f113c039304f7b757ed2e2eab666d337617e0595ff0202a5bfac74fba38cdf"
  },
  "id": "e4kQ0Kd9aExPTpbn",
  "tags": []
}
