services/n8n/workflows/Webhook.json
{
  "name": "Webhook",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "POST",
          "DELETE"
        ],
        "path": "submit",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        20,
        0
      ],
      "id": "e9bde060-c67b-4d3c-a2c1-a74693113e25",
      "name": "Webhook",
      "webhookId": "13b33b90-1b43-44fe-a917-446920f6846e"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1mNGuGaT0V1Q0R1PyrCXZ9PV6ln1OraZBKLiaNfuIkF0",
          "mode": "list",
          "cachedResultName": "history",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mNGuGaT0V1Q0R1PyrCXZ9PV6ln1OraZBKLiaNfuIkF0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mNGuGaT0V1Q0R1PyrCXZ9PV6ln1OraZBKLiaNfuIkF0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "input": "={{ $json.body.input }}",
            "output": "={{ $json.body.output }}",
            "form_submission": "={{ $json.body.form_submission }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "form_submission",
              "displayName": "form_submission",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        260,
        -140
      ],
      "id": "e4efe90a-b36f-495a-8bcd-dac27544084c",
      "name": "Append",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "80DFCtFuXtY7w6ff",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1mNGuGaT0V1Q0R1PyrCXZ9PV6ln1OraZBKLiaNfuIkF0",
          "mode": "list",
          "cachedResultName": "history",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mNGuGaT0V1Q0R1PyrCXZ9PV6ln1OraZBKLiaNfuIkF0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mNGuGaT0V1Q0R1PyrCXZ9PV6ln1OraZBKLiaNfuIkF0/edit#gid=0"
        },
        "startIndex": "={{ Number($json.query.form_submission) + 1 }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        260,
        100
      ],
      "id": "7b42fff6-ab68-4532-ad0f-dbfe7f0e1d69",
      "name": "Delete",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "80DFCtFuXtY7w6ff",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Append",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "60f53cbe-ac11-46a5-a3fa-91b9369346a5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7cfd6155ade22475ca726e828b9372d104e1584f253d2cb105f11c79e03e219e"
  },
  "id": "qCZN4WMTjBa65X9a",
  "tags": []
}